{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block title %}Вход{% endblock %}
{% block content %}
    <div class="container col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
        <div class="text-center"><h3 class="text-secondary text-center">Вход</h3></div>
        <form action='{% url "users:login" %}' method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button class="btn btn-sm btn-outline-secondary" type="submit">Войти</button>
        </form>
    </div>
{% endblock %}
